<h1>Thank you for these information</h1>
<a href="/new">Click here to say something else</a>

        <td><%= @user.username %></td>
        <td><%= @user.email %></td>
        <td><%= @user.bio %></td>
